# backend
backend/__pycache__
backend/database.ini
backend/.flaskenv
backend/.env
backend/db_extractors/18100245.csv
backend/db_extractors/NutritionTable.csv
backend/db_extractors/recipes_w_search_terms.csv

# virtual env
venv
