/* Container for the entire component */
.enter-BMI-container {
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* Styling for the height and weight input fields */
.enter-BMI-container div {
    font-weight: bold;
    margin-bottom: 5px;
}

.enter-BMI-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Styling for the buttons */
.fetchBMI, .fetchBMIPlot {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.fetchBMI:hover, .fetchBMIPlot:hover {
    background-color: #0056b3;
}

.fetchBMI:active, .fetchBMIPlot:active {
    background-color: #003d80;
}

.bmi-plot {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 10px; /* Optional: to match the container's border-radius */
}

