.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.app-navbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  padding: 10px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.saved-recipes-button {
  padding: 12px 24px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.saved-recipes-button:hover {
  background-color: #003d80;
}

.saved-recipes-button:active {
  background-color: #002d5c;
}

/* Make the text inside NavLink white */
.saved-recipes-button .active-link, .saved-recipes-button .active-link:visited, .saved-recipes-button .active-link:hover {
  color: white;
  text-decoration: none; /* Remove underline */
}